/unit1/HW07CodeProyect/HW07CodeProyect/nbproject/private/
/unit1/HW07CodeProyect/HW07CodeProyect/build/
/unit1/HW07ChFarmSimulator/FramSimulation_2/nbproject/private/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json_Csv/nbproject/private/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/nbproject/private/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/build/