/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/nbproject/private/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/build/
/unit1/HW05PROJECT/FromUmlToCode/dist/
/unit2/HW08Libraries/Washing machine/nbproject/private/
/unit2/HW08Libraries/WashingMachineLibrary/nbproject/private/
/unit2/HW08Libraries/WashingMachineLibrary/build/
/unit2/HW08Libraries/WashingMachineLibrary/dist/
/unit2/HW08Libraries/Washing machine/build/
/unit2/HW08Libraries/WashingMachine/nbproject/private/
/unit2/HW08Libraries/Whashing/nbproject/private/
/unit2/HW08Libraries/Whashing/build/
/unit2/HW08Libraries/Whashing/dist/
/unit2/HW08Libraries/WashingMachine/dist/
/unit2/HW08Libraries/WashingMachine/build/
/unit2/HW09/HW09FarmSystem/nbproject/private/
/unit2/HW09/HW09FarmSystem/build/
/unit2/HW13-DesingInterface2/DesingInterface2/nbproject/private/
/unit2/HW14-Mongodb/Conexion_mongo/nbproject/private/
/unit2/HW14-Mongodb/Conexion_mongo/build/
/unit2/HW10-Operation Test/Calculator/build/
/unit2/HW10-Operation Test/Calculator/nbproject/private/
/unit2/HW12-Design/PROGRAM BUILDER/build/
/unit2/HW12-Design/PROGRAM BUILDER/nbproject/private/
/unit2/HW08-Libraries/WashingMachine/build/
/unit2/HW08-Libraries/WashingMachine/nbproject/private/
/unit2/HW08-Libraries/Whashing/build/
/unit2/HW08-Libraries/Whashing/dist/
/unit2/HW08-Libraries/Whashing/nbproject/private/
/unit3/HW15-DataBase/Voucher/nbproject/private/
/unit3/HW15-DataBase/Voucher/build/