/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/nbproject/private/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/build/
/unit1/HW05PROJECT/FromUmlToCode/dist/
/unit2/HW08Libraries/Washing machine/nbproject/private/
/unit2/HW08Libraries/WashingMachineLibrary/nbproject/private/
/unit2/HW08Libraries/WashingMachineLibrary/build/
/unit2/HW08Libraries/WashingMachineLibrary/dist/
/unit2/HW08Libraries/Washing machine/build/
/unit2/HW08Libraries/WashingMachine/nbproject/private/
/unit2/HW08Libraries/Whashing/nbproject/private/
/unit2/HW08Libraries/Whashing/build/
/unit2/HW08Libraries/Whashing/dist/
/unit2/HW08Libraries/WashingMachine/dist/
/unit2/HW08Libraries/WashingMachine/build/
/unit2/HW09/HW09FarmSystem/nbproject/private/
/unit2/HW09/HW09FarmSystem/build/