/unit1/HW05PROJECT/HW05FromUmlToCode/nbproject/private/
/unit1/HW05PROJECT/FromUmlToCode/nbproject/private/
/unit1/HW05PROJECT/FromUmlToCode/build/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/nbproject/private/
/unit1/HW07-Chicken-Json-Csv/HW07-Chicken-Json-Csv/build/
/unit2/Nueva Carpeta/FileManager/nbproject/private/
/unit2/Nueva Carpeta/FileManagerSystem/JavaApplication15/nbproject/private/
/unit2/Nueva Carpeta/FileManagerSystem/nbproject/private/
/unit2/HW09FarmSystem/HW09FarmSystem/nbproject/private/